.background {
  background: center no-repeat url(https://www.zoe.com/assets/landing-m8-2fcbee56b937888a5856702cf5d5c17d.jpg);
}

.logo {
  background-image: url(https://www.zoe.com/assets/sprite/landing2x-sf56e2e520e-0eaae03dcbe727e96da4c54c922ca7ea.png);
  background-position: 0 -804px;
  background-size: 420px auto;
}

.progressBar {
  background-color: rgb(238, 255, 65);
}

.splash {
  background-image: url(https://www.zoe.com/assets/landing-hero-2944af1621844730496a5b14da26709d.jpg);
}

.watermark {
  background-image: url(https://www.zoe.com/favicon-192x192.png?v=3);
  background-size: 192px 192px;
}